[Unit]
Description=Dell R410 Fan Controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /root/scripts/fan.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
